### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Import Dependencies
import pandas as pd
import os

In [2]:
# Files to Load
school_data = os.path.join("Resources", "schools_complete.csv")
student_data = os.path.join("Resources","students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_df = pd.read_csv(school_data)
student_df = pd.read_csv(student_data)

# Combine the data into a single dataset.  
school_total_df = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])
school_total_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
#Calculate the total number of schools, students, and budget
total_schools = (school_total_df['school_name'].value_counts()).count()
total_students = school_total_df['student_name'].count()
total_budget = (school_total_df['budget'].unique()).sum()

In [32]:
#Calculate the average math and reading score
avg_math = round(school_total_df['math_score'].mean(),2)
avg_reading = round(school_total_df['reading_score'].mean(),2)

In [33]:
#Calculate the percentage of students with a passing math grade, reading grade and who passed both
pass_math = len(school_total_df.loc[school_total_df['math_score']>=70])
percent_pass_math = round(pass_math/total_students*100,2)
pass_reading = len(school_total_df.loc[school_total_df['reading_score']>=70])
percent_pass_reading = round(pass_reading/total_students*100,2)
pass_both = len(school_total_df.loc[(school_total_df['math_score']>=70) & (school_total_df['reading_score']>=70)])
percent_pass_both = round(pass_both/total_students*100,2)

In [34]:
district_summary_df = pd.DataFrame({"Total Schools": [total_schools],"Total Students": [total_students],
                                    "Total Budget": [total_budget],"Average Math Score": [avg_math],
                                    "Average Reading Score": [avg_reading], "% Passing Math": [percent_pass_math],
                                   "% Passing Reading": [percent_pass_reading], "% Overall Passing": [percent_pass_both]})
district_summary_df['Total Students']=district_summary_df['Total Students'].map('{:,}'.format)
district_summary_df['Total Budget']=district_summary_df['Total Budget'].map('${:,.2f}'.format)
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98,85.81,65.17

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type