### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Import Dependencies
import pandas as pd
import os

In [2]:
# Files to Load
school_data = os.path.join("Resources", "schools_complete.csv")
student_data = os.path.join("Resources","students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_df = pd.read_csv(school_data)
student_df = pd.read_csv(student_data)

# Combine the data into a single dataset.  
school_total_df = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])
school_total_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
#Calculate the total number of schools, students, and budget
total_schools = (school_total_df['school_name'].value_counts()).count()
total_students = school_total_df['student_name'].count()
total_budget = (school_total_df['budget'].unique()).sum()

In [4]:
#Calculate the average math and reading score
avg_math = round(school_total_df['math_score'].mean(),2)
avg_reading = round(school_total_df['reading_score'].mean(),2)

In [5]:
#Calculate the percentage of students with a passing math grade, reading grade and who passed both
pass_math = len(school_total_df.loc[school_total_df['math_score']>=70])
percent_pass_math = round(pass_math/total_students*100,2)
pass_reading = len(school_total_df.loc[school_total_df['reading_score']>=70])
percent_pass_reading = round(pass_reading/total_students*100,2)
pass_both = len(school_total_df.loc[(school_total_df['math_score']>=70) & (school_total_df['reading_score']>=70)])
percent_pass_both = round(pass_both/total_students*100,2)

In [6]:
#Create DataFrame to hold the above results
district_summary_df = pd.DataFrame({"Total Schools": [total_schools],"Total Students": [total_students],
                                    "Total Budget": [total_budget],"Average Math Score": [avg_math],
                                    "Average Reading Score": [avg_reading], "% Passing Math": [percent_pass_math],
                                   "% Passing Reading": [percent_pass_reading], "% Overall Passing": [percent_pass_both]})
district_summary_df['Total Students']=district_summary_df['Total Students'].map('{:,}'.format)
district_summary_df['Total Budget']=district_summary_df['Total Budget'].map('${:,.2f}'.format)
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98,85.81,65.17

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [7]:
total_student_count = school_total_df['school_name'].value_counts()

#Group set by schools
grouped_school_df = school_total_df.groupby('school_name')

#Return unique values of School Type and Budget
school_type = grouped_school_df['type'].unique()
budget = grouped_school_df['budget'].unique()

#Calculate Budget per student
budget_perstudent = budget/total_student_count

In [8]:
#Calculate averages based on new DataFrame
avg_math_school = round(grouped_school_df['math_score'].mean(),2)
avg_reading_school = round(grouped_school_df['reading_score'].mean(),2)

In [15]:
#Calculate % Passing
pass_math_school = grouped_school_df['math_score'].apply(lambda x: x[x >= 70].count())
percent_pass_math_school = round(pass_math_school/total_student_count*100,2)
pass_reading_school = grouped_school_df['reading_score'].apply(lambda x: x[x >= 70].count())
percent_pass_reading_school = round(pass_reading_school/total_student_count*100,2)
pass_both_school = grouped_school_df(['math_score'].apply(lambda x: x[x >= 70] & ['reading_score'].apply(lambda x: x[x >= 70]))).count()
# percent_pass_both_school = round(pass_both_school/total_student_count*100,2)
# percent_pass_both_school
pass_both_school

AttributeError: 'list' object has no attribute 'apply'

In [10]:
#Create DataFrame to hold the above results
summary_df = pd.DataFrame({'School Type':school_type,'Total Students':total_student_count,
                           'Total School Budget':budget, 'Per Student Budget':budget_perstudent,
                           'Avg Math Score':avg_math_school, 'Avg Reading Score':avg_reading_school,
                          '% Passing Math':percent_pass_math_school, '% Passing Reading':percent_pass_reading_school})
summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading
Bailey High School,[District],4976,[3124928],[628.0],77.05,81.03,66.68,81.93
Cabrera High School,[Charter],1858,[1081356],[582.0],83.06,83.98,94.13,97.04
Figueroa High School,[District],2949,[1884411],[639.0],76.71,81.16,65.99,80.74
Ford High School,[District],2739,[1763916],[644.0],77.10,80.75,68.31,79.30
Griffin High School,[Charter],1468,[917500],[625.0],83.35,83.82,93.39,97.14
Hernandez High School,[District],4635,[3022020],[652.0],77.29,80.93,66.75,80.86
Holden High School,[Charter],427,[248087],[581.0],83.80,83.81,92.51,96.25
Huang High School,[District],2917,[1910635],[655.0],76.63,81.18,65.68,81.32
Johnson High School,[District],4761,[3094650],[650.0],77.07,80.97,66.06,81.22
Pena High School,[Charter],962,[585858],[609.0],83.84,84.04,94.59,95.95
Rodriguez High School,[District],3999,[2547363],[637.0],76.84,80.74,66.37,80.22
Shelton High School,[Charter],1761,[1056600],[600.0],83.36,83.73,93.87,95.85
Thomas High School,[Charter],1635,[1043130],[638.0],83.42,83.85,93.27,97.31
Wilson High School,[Charter],2283,[1319574],[578.0],83.27,83.99,93.87,96.54
Wright High School,[Charter],1800,[1049400],[583.0],83.68,83.96,93.33,96.61

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type